.env
.DS_Store
**/__pycache__/*
__pycache__/
*.py[cod]
*$py.class

.idea
.venv
downloaded-models
models/trained_models
sft_data
stats
transcripts
wandb
graphs
home
runs
**/outputs/**
tmp
cache
logs/*
